# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / distribution files
build/
dist/
*.egg-info/

# Python test / coverage files
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp